<!DOCTYPE html>

<body>

  <div class="background"></div>

  <%= render 'shared/navbar' %>

  <div class="container">
    <% @roasters.each do |roaster| %>
      <div class="roaster-card card">
        <img src="<%= roaster.image_url %>" alt="<%= roaster.name %>">
        <div class="card-content">
          <div class="description">
            <div class="background">
              <p><%= roaster.name %></p>
            </div>
          </div>
          <button class="buy-button">Buy</button>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'shared/footer' %>

</body>

</html>
