<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="background"></div>

    <%= render 'shared/navbar' %>

    <%= render 'shared/card' %>

    <%= render 'shared/card' %>

    <%= render 'shared/roaster_card' %>

    <%= render 'shared/shop_card' %>

    <%= render 'shared/farmer_card' %>

    <%= render 'shared/footer' %>


</body>

</html>
