<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="styles.css">
  <script src="carousel.js" defer></script>
</head>

<body>

  <div class="background"></div>

    <%= render 'shared/navbar' %>

    <%= render 'shared/news-card' %>

    <%= render 'shared/carousel' %>

    <%= render 'shared/card' %>

    <%= render 'shared/card' %>

    <%= render 'shared/footer' %>


</body>

</html>
