<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="background"></div>

  <nav class="navbar">
    <ul class="links">
      <h1 class="title">Coffee Concierge</h1>
      <li><a href="<%= root_path %>">Home</a></li>
      <li><a href="<%= about_path %>">About</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
      <li><a class="navmenu" href="<%= contact_path %>">Menu</a></li>
    </ul>
  </nav>

  <div class="container">
    <% @farmers.each do |farmer| %>
      <div class="farmer-card card">
        <img src="<%= farmer.image_url %>" alt="<%= farmer.name %>">
        <div class="card-content">
          <div class="description">
            <div class="background">
              <p><%= farmer.name %></p>
            </div>
          </div>
          <button class="buy-button">Buy</button>
        </div>
      </div>
    <% end %>
  </div>



  <footer class="footer">
    <div class="social-icons">
      <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1694982969/instagram_fkr0xf.svg" alt="Instagram Icon">
      <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1694983048/youtube_ainyld.svg" alt="YouTube Icon">
      <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1694983101/whatsapp_gu9t28.svg" alt="Whatsapp Icon">
    </div>
  </footer>

</body>

</html>
