<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="background"></div>

  <%= render 'shared/navbar' %>

  <div class="container">
    <% @farmers.each do |farmer| %>
      <div class="farmer-card card">
        <img src="<%= farmer.image_url %>" alt="<%= farmer.name %>">
        <div class="card-content">
          <div class="description">
            <div class="background">
              <p><%= farmer.name %></p>
            </div>
          </div>
          <button class="buy-button">Buy</button>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'shared/footer' %>

</body>

</html>
